@use "../../assets/Variables/ColourVariables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer-link {
  display: flex;
  flex-direction: column;
  color: $C-footer-label;
  margin-top: 10px;
  text-align: center;

  &__image {
    scale: 0.85;
  }
}
