@use "../../assets/Variables/TextVariables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  min-width: 75px;
  font-size: 18px;
  font-family: $F-numbutton-generic;
  margin: 3px 0;

  &:hover {
    transition: all 0.15s linear;
    box-shadow: inset 1px 1px 1px 1px black;
  }
}