//Backgrounds
$C-page-background: #000000;
$C-numpad-background: #bbbaba;

//Borders
$C-numpad-border:#f90000;

//Text Colours
$C-header-main: #ffffff;
$C-header-sub: #ffffff;

$C-footer-label: #ffffff;
