//Backgrounds
$C-page-background: #000000;
$C-numpad-background: #bbbaba;
$C-numdisplay-background: #bbbaba;

//Borders
$C-calcbody-border:#2aa800;

//Text Colours
$C-header-main: #ffffff;
$C-header-sub: #ffffff;
$C-header-sub-problem: #ff2626;
$C-header-sub-solution: #1ac10b;

$C-calcbody-label:#ffffff;

$C-footer-label: #ffffff;
