@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

//AVAILABLE TO USE - Montserrat

//Headings
$F-heading-generic: gill sans, sans-serif;
$F-heading-main: gill sans, sans-serif;
$F-heading-sub: gill sans, sans-serif;

//Num Buttons
$F-numbutton-generic: Montserrat, sans-serif;