@use "../../assets/Variables/ColourVariables.scss" as *;
@use "../../assets/Variables/TextVariables.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  max-width: 80dvw;
  margin: auto;
  margin-bottom: 10px;
  text-align: center;
  font-family: $F-heading-generic;

  &__main {
    color: $C-header-main;
  }

  &__sub {
    color: $C-header-sub;
    font-size: 18px;

    &--problem {
      animation: alternateColourProblem 5s infinite alternate;
    }

    &--solution {
      animation: alternateColourSolution 5s infinite alternate;
    }
  }
}


@keyframes alternateColourProblem {
  from {
    color: $C-header-sub;
  }
  to {
    color: $C-header-sub-problem;
  }

}

@keyframes alternateColourSolution {
  from {
    color: $C-header-sub;
  }
  to {
    color: $C-header-sub-solution;
  }

}